@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .vstack {
    @apply flex flex-col items-center;
  }
  .hstack {
    @apply flex flex-row items-center;
  }
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@font-face {
  font-family: "Lalezar";
  src: url("../assets/Lalezar.ttf");
  font-weight: lighter;
  font-style: normal;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: aliceblue;
  font-family: "Lalezar", sans-serif;
  direction: rtl;
  color: white;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 2rem;
  font-weight: lighter;
  margin: 0;
}
h2 {
  font-size: 1.6rem;
  font-weight: lighter;
  margin: 0;
}

p {
  font-size: 1.1rem;
  font-weight: lighter;
  margin: 0;
}
